<div class="row" ng-controller="homeController">
    <div class="form-horizontal searchDiv col-md-12" role="form">
        <div class="form-group">
            <div class="col-md-2">
                <button class="btn btn-info" data-ng-click="ShowSearchResults()" type="button" ng-disabled="searchResultDisabled">Show Search Results</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info" data-ng-click="ShowSavedBookmarks()" type="button" ng-disabled="bookmarksDisabled">Show Saved Bookmarks</button>
            </div>
        </div>
    </div>

    <div class="form-horizontal searchDiv col-md-12" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label">Search Text:</label>
            <div class="col-md-3">
                <input type="text" data-ng-model="searchText" placeholder="Enter Search Text" class="form-control">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" data-ng-click="Search(searchText)" type="button">Search</button>
            </div>
        </div>
    </div>

    <div class="col-md-12 searchResults" ng-hide="searchResultDisabledList">
        <div class="searchLabel"><label class="col-md-2 control-label">Search Results:</label></div>
            <ul>
                <li class="row list-unstyled-odd list-group-item" ng-repeat="result in results">
                    <div class="col-md-2">
                        <img ng-src="{{result.Avatar}}" alt="" height="42" width="42">
                    </div>
                    <label class="col-md-3 control-label">{{result.Name}}</label>
                    <div class="col-md-3">
                        <button class="btn btn-primary" data-ng-click="toBookmark(result.Name,result.Avatar)" type="button">Bookmark</button>
                    </div>
                </li>
            </ul>
        </div>

    <div class="col-md-12 searchResults" ng-hide="bookmarksDisabledList">
        <div class="searchLabel"><label class="col-md-2 control-label ">Saved Bookmarks:</label></div>
       
        <ul>
            <li class="row list-unstyled-odd list-group-item" ng-repeat="result in bookmarks">
                <div class="col-md-2">
                    <img ng-src="{{result.Avatar}}" alt="" height="42" width="42">
                </div>
                <label class="col-md-3 control-label">{{result.Name}}</label>

            </li>
        </ul>
    </div>

    </div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/AngularJS/githubsearch.js"></script>
